
<ul class="nav nav-tabs justify-content-center">
  <div class="d-flex">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/albums">Albums</a>
    </li>
  </div>

  <div class="d-flex">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user h6"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" routerLink="/profile">My Profile</a></li>
        <li><a class="dropdown-item" routerLink="/">Logout</a></li>
      </ul>
    </li>
  </div>
</ul>




















<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <div class="d-flex">-->
<!--      Email:-->
<!--      Id:-->
<!--    </div>-->
<!--    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavDropdown">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" routerLink="/posts">Posts</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" routerLink="/albums">Albums</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            <i class="fas fa-user h6"></i>-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--            <li><a class="dropdown-item" routerLink="/profile">MyProfile</a></li>-->
<!--            <li><a class="dropdown-item" routerLink="">Logout</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->


